[Unit]
Description=ANSYS, Inc. License Manager
After=network-online.target

[Service]
Type=simple
User=ansyslmd
WorkingDirectory=/run/ansyslmd
EnvironmentFile=-/etc/sysconfig/ansyslmd
ExecStart=/usr/ansys_inc/shared_files/licensing/linx64/lmgrd -z -x lmdown
SuccessExitStatus=15
Restart=on-abnormal
RestartSec=30

[Install]
WantedBy=multi-user.target
